@font-face {
    font-family: Poppins;
    src: url("Poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: Poppins;
    src: url("Poppins/Poppins-Bold.ttf");
    font-weight: bold;
}
* {
    font-family: Poppins;
    font-size: 16px;
    color: white;
}

html {
    background: hsl(0, 100%, 74%) url("../images/bg-intro-desktop.png") no-repeat fixed center center;
    min-height: 100%;
    display:table;
}

.vertical-cell {
    display: table-cell;
    vertical-align: middle;
}

body {
    background-color: transparent;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

footer {
    width: 100%;
    text-align: center;
}

.tbl {
    display: table;
}

@media (max-width: 575px) {
    .left-col {
        text-align: center;
    }
}

.try {
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: hsl(249, 10%, 26%, 40%) 0px 8px;
    margin: 20px 0px;
}

.form-stuff {
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    margin: 20px 0px;
}

.form-stuff div *{
    color: grey;
}

.form-stuff p {
    padding: 5px;
    color: grey;
    font-size: 12px;
}

a {
    color: hsl(248, 32%, 49%);
}

h1 {
    font-size: 48px;
}

.claimbtn {
    width: 100%;
    background-color: hsl(154, 59%, 51%);
    box-shadow: hsl(154, 59%, 51%, 50%) 0px 3px;
    padding: 10px;
}

